html,
body {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    overflow: hidden;
}


.text-container {
    width: 600px;
    /* border: 2px solid white; */
    /* width: 400px; */
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.text-container h1 {
    font-size: 3.45rem;
}

.text-container span {
    color: yellow;
    position: relative;
    overflow: hidden;
}

.text-container h1 span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-left: 2px solid yellow;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: animate 2.5s steps(10) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100%);
    }

    100% {
        left: 0%;
    }
}

@media screen and (max-width: 560px) {
    span {
        /* display: block; */
        position: absolute;

    }

    .text-container {
        width: 430px;
    }

    .text-container h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 410px) {
    span {
        /* display: block; */
        position: absolute;

    }

    .text-container {
        width: 300px;
    }

    .text-container h1 {
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 410px) {
    span {
        /* display: block; */
        position: absolute;

    }

    .text-container {
        width: 220px;
    }

    .text-container h1 {
        font-size: 2rem;
    }
}